<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title>Login</title>
</head>
<body>
  <h3>Ingreso</h3>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for m in messages %}
          <li style="color:red;">{{ m }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="post" action="/login">
    <label>Contraseña:</label>
    <input type="password" name="password" required />
    <button type="submit">Entrar</button>
  </form>
</body>
</html>